img {
    width: 100%;
    object-fit: cover ;
  }

.current-user-spots {
  display: flex;
  flex-wrap: wrap;
/* display: grid;
 grid-template-columns: repeat(auto-fit, minmax(min-content, 350px)); */
/* grid-template-columns: repeat(4,minmax(min-content, 1fr)); */
gap: 50px;
/* margin: 20px 0; */
justify-content: center;
/* align-items:center */


}

.manageSpotContainer{
height:450px;
width: 350px;
}
.current-user-header {
    padding-top: 5px;
}
.smallImgs{
width: 100%;

}
.banner-image-wrapper{
/* height: 100%; */
}

.bannerImage{
height: 500px;
width: 500px;
object-fit: cover ;
box-shadow: 5px 5px 5px black;
border-radius: 25px;
}

.spot-images{
display: grid;
grid-template-columns: 1fr 1fr;
gap: 20px;

}


.smallPic{
height: 100%;

}

.spot-body {
justify-content: space-between;
}

.center-item {
    background-color: white;
    border: 1px solid black;
    text-align: center;
    width: 400px;
    padding: 20px;
}


.modal-buttons button {
    margin-bottom: 5px;
}

.prev-img {
    aspect-ratio: 1;
    box-shadow: 5px 5px 5px black;
    border-radius: 25px ;
    /* width: 350px;
    height: 300px; */
    min-width: 350px;
    min-height: 350px;
    border: 1px solid black;
}
/* Default grid with 4 rows and dynamic columns */
 /* .current-user-spots {
    display: grid;
    grid-template-rows: repeat(4, minmax(min-content, 1fr));
    grid-template-columns: repeat(4, 1fr); /* Default 3 columns */
  /* } */

  /* Media query for smaller screens where you want 2 columns
  @media screen and (max-width: 1024px) {
    .current-user-spots {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media screen and (max-width: 850px) {
    .current-user-spots {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (max-width: 600px) {
    .current-user-spots {
      grid-template-columns: 1fr;

    }
    .prev-img {
        aspect-ratio: 1;
        width: 300px;
        height: 300px;
        box-shadow: 5px 5px 5px black;
        border-radius: 25px ;
        /* border: px; */
    /* }
  }  */
