* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  padding: 0 20px;
  background-color: aqua;
}

li {
  list-style: none;
}

label,
input {
  display: block;
}

.d-flex {
  display: flex;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
  align-items: center;
}

.d-block {
  display: block;
}

.w-100 {
  width: 100%;
}

.w-70 {
  width: 70%;
}

.w-50 {
  width: 50%;
}

.w-30 {
  width: 30%;
}

.mr-2 {
  margin-right: 5px;
}

.mb-2 {
  margin-bottom: 5px;
}


.mb-20 {
    margin-bottom: 20px;
  }

.pb-2 {
  padding-bottom: 5px;
}

.p-5 {
    padding: 5px;
}

.btn-primary {
  background-color: rgb(196, 75, 75);
  padding: 8px 10px;
  border: 1px solid black;
  color: white;
  margin: 0 auto;
  display: block;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.btn-secondary {
  background-color: grey;
  color: white;
  padding: 8px 6px;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  font-family: sans-serif;
  font-size: 16px;
  border: 1px solid black;
  cursor: pointer;
}

.center-item {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

button:disabled {
  background-color: transparent !important;
  color: grey !important;
}

.mt-10 {
  margin-top: 10px;
}

.menu-btn {
  border: solid 1px;
  padding-left: 150px;

}

  /* .drop-btn {
  position: relative;
  display: inline-block;
} */
 /* Styling for the button that toggles the dropdown */
    .drop-btn {
      border-radius: 50%;
      width: 60px;
      height: 35px;
      position: absolute;
      top: -20px;
      left: 160px;
      background-color: aquamarine;
      cursor: pointer;

    }

    /* Styling for the dropdown content */
    .dropdown-content {
      min-width: 160px;
      /* border: solid 1px; */
      z-index: 1;
      margin: 5px 10px 10px 170px;
      position: absolute;
      right: -50px;
      top: 10px;
      border: solid 1px;

    }
    .gone {
      border: none;
    }
    /* Styling for the individual dropdown items */
    .dropdown-content {
      color: rgb(22, 21, 21);
      padding: 12px 16px;
      text-decoration: none;
      display: block;

    }
 .profile-container {
  position: relative
}
 .pt-10 {
  padding-top: 10px;
}
.logout-btn {
  border-radius: 50px;
  height: 35px;
  width: 70px;
  background-color:red;
  color: blue;
  font-size: 16px;
  font-weight:bold;
  cursor:pointer
}
