.review-submit-form {
  padding: 1em;
}
.review-text {
  padding-top: 1em;
  padding-bottom: 1em;
}

.review-text textarea {
    height: 120px;
    resize: none;
}
.star-rating {
  padding-top: 1em;
  padding-bottom: 1em;
  justify-content: center;
}
.star-on {
  color: black;
  border: none;
  background-color: transparent;
}
.star-off {
  color: lightblue;
  border: none;
  background-color: transparent;
}
.star-icon {
  border: 1px;
  border-color: black;
}
.submit-btn {
    background-color: white;
    color: black;
    border: 1px solid black;
    font-size: 16px;
    height: 35px
}
.errors {
  color: red;
}
