.review-submit-form{
min-width: 30%;
align-items: center;
padding: 1em;
margin: 1em;
}
.review-text{
padding-top: 1em;
padding-bottom: 1em;
}
.star-rating{
    padding-top: 1em;
    padding-bottom: 1em;
}
.star-on{
    color: black;
    /* border: 0;
    background: white; */
}
.star-off{
    color: white;
    /* border: 0;
    background: white; */


}
.star-icon{
    border: 1px;
    border-color: black;
}
.enable-submit{
    background-color: red;
    color: white;
}
.errors{
    color: red
}
