.hidden {
    display: none;
    /* border:none */
}

.nav-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    min-height: 140px;
    margin-top: 15px

}

.logo-img {
    width: 100px;
    cursor: pointer
}

.list-wrapper {
    list-style: none;


}

.list-wrapper li {
    margin-bottom: 5px;

}
.create-a-spot-btn {
    text-decoration: none;
    border-radius: 50px;
}


@media screen and (max-width: 576px) {
    .logo-img {
        width: 80px;
    }

}
