.hidden {
    display: none
}

.nav-header {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

.logo-img {
    display: flex;
    width: 6%;
    height: 3%;
    padding-left: 20px;
    cursor: pointer
}
